.testeleven-carousel {
  margin-top: $rhythm;
  margin-bottom: $rhythm;
}

@media (min-width: $screen-md-min) {
  .testeleven-carousel {
    margin-bottom: 0;
  }
}

.testeleven-static-carousel {
  margin: $rhythm auto;
  @include make-sm-column(12);
  img {
    margin-top: $quarter-rhythm;
  }
}

.highlights h2 {
  @include make-sm-column(12);
  font-weight: bold;
  margin: 0 0 $half-rhythm 0;
  text-align: left;
  line-height: 1;
}

@media (min-width: $screen-lg-min) {
  .highlights h2 {
    font-size: $font-size-h1;
  }
  .testeleven-carousel {
    margin-bottom: $rhythm;
  }
}
