// Post archives
.archive .main {
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  .entry-title {
    @include make-sm-column(12);
  }
  .featured-image,
  .entry-summary {
    @include make-sm-column(12);
    @include make-md-column(6);
  }
  padding-bottom: $rhythm;
}

.single .main article {
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
}

.page-header {
  border-bottom: 4px solid $gray;
}

// Single post pricing tables
.table.table-striped td {
  border: none;
}

.single .gform_wrapper {
  margin-bottom: $rhythm;
}