.testeleven-carousel .carousel-inner .text {
  @include make-sm-column(12);
  @include make-md-column(6);
  @include make-lg-column(4);
//  padding-left: rhythm(3);
}

.testeleven-carousel img {
  @include make-sm-column(12);
  @include make-md-column(6);
  @include make-lg-column(8);
//  padding-right: rhythm(3);
}

.testeleven-carousel .image {
  @include clearfix;
}

.carousel .carousel-control {
  background-image: none;
}

.carousel .carousel-control .glyphicon-chevron-left {
  left: rhythm();
}

.carousel .carousel-control .glyphicon-chevron-right {
  right: rhythm();
}

.carousel .glyphicon {
  color: $brand-primary;
  font-size: 42px;
}

.carousel-indicators {
  left: 50%;
}

.image-panel h3 {
  margin-top: 0;
  margin-bottom: $quarter-rhythm;
  font-weight: bold;
}

.image-panel p {
  margin-bottom: 0;
}

.image-panel {
  @include clearfix;
  position: relative;
}

.testeleven-static-carousel {
  img {
    max-width: 100%;
    height: auto;
  }
  h3 {
    margin-bottom: $quarter-rhythm;
  }
}

@media (min-width: $screen-sm-min) {
  .testeleven-carousel {
    .text {
      height: 213px;
    }
    .carousel-inner .text, img {
      padding: 0 rhythm(3);
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
      top: 69%;
    }
  }
}

@media (min-width: $screen-md-min) {
  .image-panel {
    height: 275px;
  }
  .testeleven-carousel {
    .carousel-inner .text {
      height: auto;
      padding-right: 15px;
    }
    img {
      padding-left: 15px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
      top: 42%;
    }
    .carousel-indicators {
      left: 71%;
      bottom: 14%;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .testeleven-carousel {
    .image-panel {
      height: auto;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
      top: 50%;
    }
    .carousel-indicators {
      left: 64%;
      bottom: 3%;
    }
  }
}