.testeleven-carousel .carousel-inner .text {
  @include make-sm-column(12);
  @include make-md-column(6);
  @include make-lg-column(4);
  padding-left: rhythm(3);
}

.testeleven-carousel img {
  @include make-sm-column(12);
  @include make-md-column(6);
  @include make-lg-column(8);
//  padding-right: rhythm(3);
}

.testeleven-carousel .image {
  @include clearfix;
}

// Add left padding to the image for small screens - there is no text area on them
@media (min-width: $screen-sm-min) {
  .testeleven-carousel img {
    padding-left: rhythm(3);
    display: inline-block;
  }
  .testeleven-carousel .carousel-inner .text {
    padding-right: 0;
    height: auto;
  }
}

.testeleven-carousel .carousel-inner .text {
  padding-right: rhythm(3);
  p {
    height: rhythm(4);
  }
}

// Get rid of the right image padding for medium and up
@media (min-width: $screen-md-min) {
  .testeleven-carousel img {
    padding-left: 15px;
  }
  .testeleven-carousel .text {
    padding-right: 0;
  }
}

.carousel .carousel-control {
  background-image: none;
}

.carousel .carousel-control .glyphicon-chevron-left {
  left: rhythm();
}

.carousel .carousel-control .glyphicon-chevron-right {
  right: rhythm();
}

.carousel .glyphicon {
  color: #fff;
}

@media (min-width: $screen-sm-min) {
  .carousel .glyphicon {
    color: $text-color;
  }
}

@media (min-width: $screen-sm-min) {
  .carousel-indicators {
    left: 71%;
  }
}

@media (min-width: $screen-md-min) {
  .carousel-indicators {
    left: 66%;
  }
}

.carousel-indicators {
  left: 50%;
}

.image-panel h3 {
//  font-size: $font-size-h4;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.image-panel p {
  margin-bottom: 0;
}

.image-panel {
  @include clearfix;
  position: relative;
}

.testeleven-static-carousel {
  img {
    max-width: 100%;
    height: auto;
  }
  h3 {
    margin-bottom: $quarter-rhythm;
  }
}