#highlights {
  @include clearfix;
}

.highlight-box {
  position: relative;
  @include make-sm-column(6);
  @include make-md-column(4);
  @include clearfix;
  margin-bottom: $grid-gutter-width;
  font-size: $font-size-small;
  h3 {
    font-size: $font-size-h4;
//    font-weight: bold;
    margin-top: 0;
  }
  img {
    width: 100%;
    height: auto;
    margin-bottom: $half-rhythm;
  }
  .wrap {
    @include clearfix;
    padding: $half-rhythm;
    border-radius: 3px;
  }

  a {
    color: darken($text-color, 15%);
    text-decoration: none;
    &:hover {
      color: $inverse-color;
    }
  }

  .red {
    background: $red;
    color: $inverse-color;
    a {
//      text-decoration: underline;
    }
  }

  .orange {
    background: $orange;
    color: $inverse-color;
  }

  .yellow {
    background: $yellow;
    color: $inverse-color;
  }

  .green {
    background: $green;
    color: $inverse-color;
  }

  .blue {
    background: $blue;
    color: $inverse-color;
  }

  .violet {
    background: $violet;
    color: $inverse-color;
  }
}

.highlights .nbs_workshop {
  h3 {
    margin-bottom: 0;
  }
  .datetime {
    margin-bottom: $half-rhythm;
  }
  p {
    margin-bottom: 0;
  }
}

@media (min-width: $screen-sm-min) {
  .highlight-box {
    height: 440px;
  }
  .highlight-box .wrap {
    position: absolute;
    left: $half-rhythm;
    right: $half-rhythm;
    top: 0;
    bottom: 0;

  }
  .highlight-box img {
    max-width: 100%;
    height: auto;
  }
}
