// Hide the table for extra-small screens
.schedule-table {
  @extend .hidden-xs;
}

// Only show the schedule-list on small screens
.schedule-list {
  @extend .visible-xs;
}

.schedule-list hr {
  margin: $half-rhythm auto;
}

.schedule-list ul {
  list-style: none;
  padding-left: 0;
}

.schedule-table th {
  // Divide the table into 8 equal columns
  width: 12.5%;
}

// Stripe the table
.schedule-table tbody tr:nth-child(even),
.schedule-table thead tr {
  background: #f8f8f8;
}

.schedule-table.table  {
  border-collapse: separate !important;
  border-spacing: 4px !important;
}

// Style the time blocks.
.schedule-table .schedule-day {
  text-align: center;
  font-weight: normal;
}

// Colors
.schedule-table .has-class a {
  color: $inverse-color;
  &:hover {
    text-decoration: none;
  }
}
.schedule-table .gentle-yoga {
  background: $green;
  &:hover {
    background: lighten($green, 5%);
  }
}

.schedule-table .moderate-yoga {
  background: $blue;
  &:hover {
    background: lighten($blue, 5%);
  }
}

.schedule-table .ashtanga-yoga {
  background: $red;
  &:hover {
    background: lighten($red, 5%);
  }
}

.schedule-table .chair-yoga {
  background: $orange;
  &:hover {
    background: lighten($orange, 5%);
  }
}

.schedule-table.table th, .schedule-table.table td {
  border-top: none;
  border-bottom: none;
}

td.alert-warning {
  border: 3px solid red !important;
  color: red !important;
}

.tooltip-inner {
  background: $brand-primary;
  color: $inverse-color;
}


