// Grid settings
$grid-columns: 12;
$main-sm-columns:       $grid-columns;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #6e0b0e;
$link-color: #bb252a;

$gray-base: #110808;
$gray-darker:            lighten($gray-base, 15.5%);
$gray-dark:              lighten($gray-base, 20%);
$gray:                   lighten($gray-base, 33.5%);
$gray-light:             lighten($gray-base, 46.7%);
$gray-lighter:           lighten($gray-base, 93.5%);

$body-bg: #fff;

// Custom variables
$inverse-color: #f3ebec;

$trans: 0.1;
$darken: 7%;

$red: darken(transparentize(#ff0000, $trans), $darken);
$orange: darken(transparentize(#ff6600, $trans), $darken);
$yellow: darken(transparentize(#ffcc00, $trans), $darken);
$green: darken(transparentize(#339933, $trans), $darken);
$blue: darken(transparentize(#2893c6, $trans), $darken);
$violet: darken(transparentize(#C628CC, $trans), $darken);

//$font-family-base: "freight-text-pro", sans-serif;
$font-family-base: helvetica, sans-serif;
$headings-font-family: "droid-serif", sans-serif;

// Rhythm
$font-size-base: 22px;

// From twitter
$line-height-base:        1.428571429;

// Rhythm mixins and function - the base size unit for the site
$rhythm: floor($font-size-base * $line-height-base);
$half-rhythm: floor($rhythm / 2);
$quarter-rhythm: floor($rhythm / 4);
$third-rhythm: floor($rhythm / 3);

@function rhythm($units: 1) {
  @return $units * $rhythm;
}

$grid-gutter-width: 30px;

$border-radius-base: 4px;
// Banner
//$navbar-height:                    50px;
$navbar-margin-bottom:             0;
$navbar-border-radius:             $border-radius-base;
//$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
//$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
//$navbar-collapse-max-height:       340px;

$navbar-default-color:             $inverse-color;
$navbar-default-bg:                $brand-primary;
$navbar-default-border:            darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color:                $inverse-color;
$navbar-default-link-hover-color:          $inverse-color;
//$navbar-default-link-hover-bg:             darken($navbar-default-bg, 3%);
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         $inverse-color;
//$navbar-default-link-active-bg:            darken($navbar-default-bg, 3%);
$navbar-default-link-active-bg: transparent;
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           lighten($brand-primary, 10%);
$navbar-default-toggle-icon-bar-bg:        $inverse-color;
$navbar-default-toggle-border-color:       $inverse-color;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      lighten($gray-light, 15%);
$navbar-inverse-bg:                         #222;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color:                 lighten($gray-light, 15%);
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-disabled-color:        #444;
$navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:          #fff;
$navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #333;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          10px 15px;
$nav-link-hover-bg:                         $gray-lighter;

$nav-disabled-link-color:                   $gray-light;
$nav-disabled-link-hover-color:             $gray-light;


// Tooltips
//$tooltip-bg: $brand-primary;
//$tooltip-color: $inverse-color;
//$tooltip-arrow-color: $brand-primary;



